 .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .container1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

.column {
    width: 380px;
    min-height: 150px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-wrap: wrap;
  }


.delete {
    cursor: pointer;
}

.delete:hover {
    color: #DE7A81 !important;
}